In [1]:
import pandas as pd

In [2]:
import numpy as np

In [36]:
data = pd.Series(['fgfg','dfdf',np.nan,'bbb', None,'ccc'])

In [37]:
data.isnull()

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [38]:
data.notnull()

0     True
1     True
2    False
3     True
4    False
5     True
dtype: bool

In [27]:
#data.dropna(inplace=True)

0    fgfg
1    dfdf
dtype: object

In [28]:
data

0    fgfg
1    dfdf
2     NaN
3    None
dtype: object

In [40]:
data.fillna(value='aaaa')

0    fgfg
1    dfdf
2    aaaa
3     bbb
4    aaaa
5     ccc
dtype: object

In [41]:
data.fillna(method='ffill') #заполняет пустые строки крайним значением

0    fgfg
1    dfdf
2    dfdf
3     bbb
4     bbb
5     ccc
dtype: object

In [42]:
data.fillna(method='bfill') #заполняет пустые строки None

0    fgfg
1    dfdf
2     bbb
3     bbb
4     ccc
5     ccc
dtype: object

In [43]:
data.fillna(method='backfill')

0    fgfg
1    dfdf
2     bbb
3     bbb
4     ccc
5     ccc
dtype: object

In [54]:
df = pd.DataFrame([['fgfg','dfdf',np.nan,'bbb', None,'ccc'],['fgfg',np.nan,'dfdf','bbb', None,'ccc'],[np.nan,'dfdf','bbb', None,'ccc']])

In [52]:
df

      0     1     2     3     4     5
0  fgfg  dfdf   NaN   bbb  None   ccc
1  fgfg   NaN  dfdf   bbb  None   ccc
2   NaN  dfdf   bbb  None   ccc  None

In [57]:
df.isnull()

       0      1      2      3      4      5
0  False  False   True  False   True  False
1  False   True  False  False   True  False
2   True  False  False   True  False   True

In [60]:
df[df[2].notnull()]

      0     1     2     3     4     5
1  fgfg   NaN  dfdf   bbb  None   ccc
2   NaN  dfdf   bbb  None   ccc  None

In [47]:
df.isnull()

       0      1      2      3      4      5
0  False  False   True  False   True  False
1  False   True  False  False   True  False
2   True  False  False   True  False   True